@model List<StudyProgressChecker.Models.Subject>

<h1>Subjects</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Weight</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Weight</td>
                <td>
                    <a asp-action="Edit" asp-route-name="@item.Name">Edit</a> |
                    <a asp-action="Delete" asp-route-name="@item.Name">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="EditAll">Edit All Subjects</a>