@{
    ViewData["Title"] = "View progress check for all students";
}

<div class="text-center">
    <h1 class="display-4">Dashhboard</h1>
    <p>This displays the study sessions of all students</p>
</div>
